@charset "utf-8";



.form {
	text-align:center;
	max-width:250px;
	margin:auto;
	font-size:18px;
}
input{
	font-size:18px;
}

.reg{
	text-align:center;
	font-size:22px;
}

.button_auth{
	text-decoration:none;
	color:black;
	background-color:red;
	display:inline-block;
	border:1px solid black;
}


.del{
	font-size:18px;
}
.del2{
	text-decoration:none;
	color:royalblue;;

}





				/*  Это регистрация*/
.reg2{
	padding-top:150px;
	width:550px;
	margin:auto;
}

.p_reg{
	font-size:10px;
}







